Package: ai.paisseon.satella
Name: Satella
Author: Paisseon
Description: IAP cracker for modern devices
Maintainer: Paisseon
Version: 2.5.1
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader, com.opa334.altlist
Architecture: iphoneos-arm
Icon: https://paisseon.github.io/info/satella.png
SileoDepiction: https://paisseon.github.io/info/satella.json
Depiction: https://paisseon.github.io/info/satella.html
