Package: ai.paisseon.satella
Name: Satella
Author: paisseon
Description: Aishiteru
Maintainer: paisseon
Version: 2.1
Depends: firmware (>= 12.0), mobilesubstrate, preferenceloader, com.opa334.altlist
Architecture: iphoneos-arm
Icon: https://i.imgur.com/HHOvZoD.png
SileoDepiction: https://paisseon.github.io/info/satella.json
